<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      Turistas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div class="ion-padding">
    ¿Que lugar te gustaría conocer?
  </div>
  <div class="ion-padding">
      <ion-button expand="full" fill="outline" color="warning" (click)="opc1()">CHIAPAS</ion-button>
  </div>
  <div class="ion-padding">
      <ion-button expand="full" fill="outline" color="warning" (click)="opc2()">VERACRUZ</ion-button>
  </div>
  <div class="ion-padding">
      <ion-button expand="full" fill="outline" color="warning" (click)="opc3()">GUANAJUATO</ion-button>
  </div>
</ion-content>
